@mixin hover() {
  &:hover {
    text-decoration: none;
    color: rgb(2, 136, 177);
  }
}

.folderLabel {
  display: block;
  color: rgb(85, 85, 85);
  font-size: 1rem;
  @include hover();
}

.folder {
  padding-left: 10px;
  .folder .folderLabel {
    font-size: 1rem;
  }
}

.label {
  color: #666;
  @include hover();
}
.folderContents {
  margin-left: 5px;
  border-left: 1px solid #8d8d8d;
}

.file {
  font-size: 1rem;
}

.slugpath {
  font-size: 0.7rem;
  color: #999;
}

