@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:regular,bold,italic&subset=latin,latin-ext");

code {
  color: black;
}

pre {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(247, 247, 247);
}

h1 {
  margin-top: 40px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 30px;
  margin-bottom: 10px;
}

td {
  padding: 5px;
}

tr {
  border-bottom: 1px solid rgb(224, 223, 223);
}
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 55px; /* Stay at the top */
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.topnav {
  padding-left: 15px;
  background-color: rgb(236, 240, 248);
  position: fixed;
  top: 0;
  width: 100%;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 6px;
  text-decoration: none;
  display: block;
}

/* Style page content */
.main {
  margin-left: 130px; /* Same as the width of the sidebar */
  padding: 20px;
  margin-top: 30px;
  
}

.container {
  max-width: 900px;
}



/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}


